.admin-main-container {
    display: flex;

}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}

.main-section {
    flex: 1;
    padding: 10px; /* Add padding as needed */
    align-items: center;
    display:flex;
    flex-direction: column;

    .admin-section-title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0 20px 0;
        color: rebeccapurple;
    }

    .admin-content {
        display: flex;
        flex-direction: column;
        table {
            border-collapse: collapse;
            border: 1px solid white;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 20px; 
            font-size: 14px;
            max-height: 375px;
            overflow-y: auto;
            
    
            th, td {
                color: white;
                padding: 10px;
                text-align: center;
            }
    
            th {
                background-color: transparent; 
            }
    
            tr:nth-child(even) {
                background-color: transparent;
                
            }
            td:last-child {
                color: green;
            }
    
            tr:hover {
                background-color: transparent;
            }
            &::-webkit-scrollbar {
                width: 10px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 6px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 6px;
                border: 3px solid #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
        }


        .admin-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            align-items: center;
            margin-top: 20px;

            .admin-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
                margin-top: 10px;
                width: 300px;
            
                h2 {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            
                .input-container {
                    display: flex; 
                    align-items: center;
                    
                    input {
                        width: 100%;
                        box-sizing: border-box;
                        
                    }
                }
            
                .admin-button {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    button {
                      padding: 0px 10px;
                      height: 25px;
                      border: 1px solid green;
                      border-radius: 10px;
                      background-color: transparent;
                      color: green;
                      margin-top: 20px;
                      margin-left: 20px;
                      margin-bottom: 20px;
                      cursor: pointer;
                      font-weight: bold;
                      text-align: center;
                      
                    }
                    button:hover { 
                        color: white;
                        border-color: white;
                    }
                }
            
                &::-webkit-scrollbar {
                    width: 10px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 6px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: #888;
                    border-radius: 6px;
                    border: 3px solid #f1f1f1;
                }
            
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #555;
                }
            }

            
            
            
        }

        .admin-sold-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            width: 300px;
            margin: 0 auto; /* Center the section */
            margin-top: 30px;
        
            h2 {
                text-align: left;
                font-weight: bold;
                margin-bottom: 10px;
            }
        
            .input-container {
                display: flex; 
                align-items: center;
                input {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        
            .admin-button {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    padding: 0px 10px;
                    height: 25px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: transparent;
                    color: green;
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                }
                button:hover { 
                    color: white;
                    border-color: white;
                }
            }
        
            &::-webkit-scrollbar {
                width: 10px;
            }
        
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 6px;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 6px;
                border: 3px solid #f1f1f1;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
        }

        .admin-back-button-container{
            transform: translateY(200%);
            display: flex;
            justify-content: flex-end;
            .admin-back-button{
                max-width: 1366px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                  }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }  
    }
}


 



  










