.verify-main-container {
    display: flex;
    h1 {
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}


.main-section {
    flex: 1;
    padding: 20px; 
    align-items: center;
    display:flex;
    flex-direction: column;

    .verify-section-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: rebeccapurple;
    }

    .verify-content {
        .verify-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            max-height: auto; /* Make sure all sections have the same height */
            overflow-y: auto;

            .verify-table-container {
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 100%;
                height:30px;
                font-size: 14px;
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
        
                th {
                    background-color: transparent;
                   
                   
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                    
                }
                td:nth-child(5) {
                    color: green;
                    
                }
                td:nth-child(6) {
                    color: green;
                    
                }
                td:last-child {
                    color: green;
                }
        
                tr:hover {
                    background-color: transparent;
                }

            }
        }

        .input-container {
            display: flex; 
            align-items: center;
            input {
                width: 100%;
                box-sizing: border-box;
                margin-top: 10px;
               
            }

            .verify-button {
                display: flex;
                align-items: center;
                button {
                    padding: 0px 10px;
                    height: 25px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: transparent;
                    color: green;
                    margin-top: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                     
                      
                }
                button:hover { 
                    color: white;
                    border-color: white;
                }
            }
        }
    }

    .verify-back-button-container {
        display: flex;
        .verify-back-button{
            max-width: 1366px;
            margin: auto;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            button {
                padding: 0px 10px;
                height: 35px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: bold;
                margin-top: 5px;
                text-align: center;
            }
            button:hover { 
                color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }
    }
}




.verified-main-container {
    display: flex;
}

.main-section {
    flex: 1;
    padding: 20px; 
    align-items: center;
    display:flex;
    flex-direction: column;

    .verified-section-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: rebeccapurple;
    }


    .verified-content {
        display: flex;
        flex-direction: column;

        .verified-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto;
        
            h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
            }
        
            table {  // Item table
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 100%;
                height:30px;
                font-size: 14px;
                   
                
        
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
        
                th {
                    background-color: transparent;
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                }
                td:nth-child(5) {
                    color: green;
                    
                }
                td:nth-child(6) {
                    color: green;
                    
                }
                td:last-child {
                    color: green;
                }
                tr:hover {
                    background-color: transparent;
                }
            }
        }
    }


    .verified-description {
        margin-bottom: 10px;
        justify-content: center;
        b {
            color: green;
        }
    }




    .verified-back-button-container {
        display: flex;
        .verified-back-button{
            gap: 20px;
            max-width: 1366px;
            margin: auto;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            button {
                padding: 0px 10px;
                height: 35px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: bold;
                margin-top: 5px;
                text-align: center;
            }
            button:hover { 
                color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }
    }



}





.halal-main-container {
    display: flex;
}


.main-section {
    flex: 1;
    padding: 20px; 
    align-items: center;
    display:flex;
    flex-direction: column;

    .halal-section-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: rebeccapurple;
    }

    .halal-content {
        display: flex;
        flex-direction: column;

        .halal-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto;
        
            h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
            }
        
            table {  // Item table
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 100%;
                height:30px;
                font-size: 14px;
                   
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
        
                th {
                    background-color: transparent;
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                }
                td:nth-child(5) {
                    color: green;
                    
                }
                td:nth-child(6) {
                    color: green;
                    
                }
                td:last-child {
                    color: green;
                }
                tr:hover {
                    background-color: transparent;
                }
            }
        }
        .halal-checklist {
            .halal-checklist-section {
                display: flex;
                flex-direction: column;
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
                height: 500px;
                
                .halal-checklist-title {
                    text-align: center;
                }
                p {
                    margin-bottom: .5rem
                    
                }

                .check-box {
                    padding: 0.25rem;
                    

                    label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: 1.125rem;
                        margin: 10px 0 10px 0;
                        height: 40px;
                    }
                    .verify-checkbox {
                        display: inline-block;
                        margin-right: 0.625rem;
                        min-height: 1.25rem;
                        min-width: 1.25rem 
                    }
                }

                .halal-submit {
                    margin-top: auto;
                    .submit-button {
                        margin-top: 10px;
                        width: 100%;
                        padding: 0.75rem;
                        background: #37af65;
                        color: white;
                        font-weight: bold;
                        font-size: 16px;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                    
                }
            }  
        }
    }
    .halal-back-button-container {
        display: flex;
        .halal-back-button{
            transform: translateY(100%);
            gap: 20px;
            max-width: 1366px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            button {
                padding: 0px 10px;
                height: 35px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: bold;
                margin-top: 5px;
                text-align: center;
            }
            button:hover { 
                color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }
    }
}