.ord-main-container {
    display: flex;
    

    h1 {
        text-align: left;
        font-weight: bold;
        width: 100%;
    }
    
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}

.main-section {
    flex: 1;
    padding: 20px; /* Add padding as needed */
    align-items: center;
    display:flex;
    flex-direction: column;
    .ord-section-title{
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0 30px 0;
        text-align: left;
        color: rebeccapurple;
    }

    .order-content {
        display: flex;
        flex-direction: column;
        .ord-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            width: 60vw;
            overflow-y: auto;
        
            h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
            }
        
            form {
                div {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                input {
                    width: calc(100% - 20px);
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    
                }
                select {
                    width: auto;
                    margin-left: 5px;
                }
        
                .order-button {
                    button {
                      padding: 0px 10px;
                      height: 25px;
                      border: 1px solid green;
                      border-radius: 10px;
                      background-color: transparent;
                      color: green;
                      margin-right: 20px;
                      cursor: pointer;
                      font-weight: bold;
                      margin-top: 20px;
                      margin-bottom: 20px;
                      text-align: center;
                      
                    }
                   
                    button:hover { 
                        color: white;
                        border-color: white;
                    }
                    
                }
            }
            
            
            .order-table-container{
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 99.4%;
                height:30px;
                font-size: 14px;
                margin-bottom: 20px;
                margin-right: 5px;
            
        
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                    
                    
                }
        
                th {
                    background-color: transparent;
                   
                   
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                    
                }
                td:nth-child(5) {
                    color: green;
                    
                }
                .red-text {
                    color: red; 
                }
                .green-text {
                    color: green; 
                }

                
        
                tr:hover {
                    background-color: transparent;
                }
            }
        }
        .order-back-button-container {
            // transform: translateY(200%);
            display: flex;
            .order-back-button{
                max-width: 1366px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 20px;
                    text-align: center;
                  }
                  button:hover { 
                      color: rebeccapurple;
                      border-color: rebeccapurple;
                  }
            }
        }

        
    }
    
}





// .current-address {
//     grid-column: span 2; /* Span across both columns */
//     margin-bottom: 20px;
//     label {
//         font-weight: bold;
//     }
// }




