.info-main-container {
    display: flex;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}
.main-section {
    flex: 1;
    padding: 10px; /* Add padding as needed */
    align-items: center;
    display:flex;
    flex-direction: column;
    .info-section-title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0 20px 0;
        color: rebeccapurple;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        .info-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            max-height: auto; /* Make sure all sections have the same height */
            overflow-y: auto;
        
            h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
            }
        
            .input-container {
                input {
                    width: calc(100% - 20px);
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    
                }
            }
        
            table {
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 100%;
                height:30px;
                font-size: 14px;
                
        
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
        
                th {
                    background-color: transparent;
                   
                   
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                    
                }
                td:last-child {
                    color: green;
                }
        
                tr:hover {
                    background-color: transparent;
                }
        
                
            }
        }
        .info-back-button-container {
            transform: translateY(40%);
            display: flex;
            .info-back-button{
                max-width: 1366px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }
}







