.login-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 250px auto;
    box-sizing: border-box;
}


.login-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
        width: 500px;
        padding: 20px;
        background-color: #e9e9e9;
        border-radius: 8px;
        box-shadow: 0 0 10px #bdbdbd;
        
        
        .login-title{
            grid-column: 1/3;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
            color: rebeccapurple;
        }
        .login-icon{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;

            .icon { 
                color: rebeccapurple; 
            }
            .icon:hover {
                color: rebeccapurple;
            }
           

            p {
                color: black;
            }
        }
        
        .login-message{
            color: black;
            text-align: center;
            margin-top: 20px;
        }
        .flex-login-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            a {
                color: rebeccapurple;
                cursor: pointer;
            }
            button{
                cursor: pointer;
                padding: 6px 10px;
                color: #fff;
                background-color: #5900ff;
                border: 1px solid #5900ff;
                outline: 0;
                border-radius: 4px;
                width: fit-content;
                font-size: 17px;
                background-color: rebeccapurple;
            }
        }
    }
}

.back-button{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    button {
        padding: 0px 10px;
        height: 35px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
      }
      button:hover { 
          color: rebeccapurple;
          border-color: rebeccapurple;
      }
  }













