@import "src/app.scss";

.navbar {
  height: 100px;

  .redirect-to-project-button {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
      button {
        padding: 0px 20px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
       
      }
      button:hover { 
        color: rebeccapurple;
        border-color: rebeccapurple;
      }
    
  }
}
