.admin-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide into two columns */
    gap: 20px;
    width: 80%; /* Increase the width to make it larger */
    margin: 0px auto; /* Center the grid with some margin from the top */
    box-sizing: border-box;
    align-items: center;

}
.admin-section-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    color: rebeccapurple;
  }

  .current-address {
    grid-column: span 2; /* Span across both columns */
    margin-bottom: 20px;
    label {
        font-weight: bold;
    }
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    grid-column: span 2;
    align-items: center;
    margin: 0 auto; /* Center the grid */
    
}

  table {
            border-collapse: collapse;
            border: 1px solid white;
            border-radius: 10px;
            width: 200%;
            margin: auto; /* Center the table */
            height: 30px;
            font-size: 14px;
            
    
            th, td {
                color: white;
                padding: 10px;
                text-align: center;
            }
    
            th {
                background-color: transparent; 
            }
    
            tr:nth-child(even) {
                background-color: transparent;
                
            }
            td:last-child {
                color: green;
            }
    
            tr:hover {
                background-color: transparent;
            }
    }

.admin-section {
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-height: auto; /* Make sure all sections have the same height */
    overflow-y: auto;
    margin-top: 50px;
    width: 400px;

    h2 {
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .input-container {
        display: flex; 
        align-items: center;
        input {
            width: 100%;
            box-sizing: border-box;
            
        }
    }

    .admin-button {
        display:flex;
        justify-content: center;
        align-items: center;
        button {
          padding: 0px 10px;
          height: 25px;
          border: 1px solid green;
          border-radius: 10px;
          background-color: transparent;
          color: green;
          margin-top: 20px;
          margin-left: 20px;
          margin-bottom: 20px;
          cursor: pointer;
          font-weight: bold;
          text-align: center;
          
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
        border: 3px solid #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}


