#credits {
    display: flex;
    align-items: center;
  }
  
  .ending-credits {
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-bottom: 40px;
    font-family: "NTR", sans-serif;
    
    p {
      
      color: var(--slate);
    }
    b {
      color: rebeccapurple;
    }
    
  
  }