.reg-main-container {
    display: flex;
    height: 160vh;
    h1 {
        grid-column: span 2; /* Span across both columns */
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
    .register-menu-bar {
        height: 92vh;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 1rem;
        position: relative;

    }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}


.main-section {
    flex: 1;
    padding: 20px; /* Add padding as needed */
    align-items: center;
    display:flex;
    flex-direction: column;
    .reg-section-title{ 
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        color: rebeccapurple;
    }

    .register-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        height: 160vh;
        margin: 0 auto;
        box-sizing: border-box;
        
    
        .stakeholder-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            max-height: 375px; /* Make sure all sections have the same height */
            overflow-y: auto;
               
            h2 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 10px;
            }
            
            .input-container {
                input {
                    width: calc(100% - 20px);
                    margin-bottom: 10px;
                    box-sizing: border-box;
                }
            }
            
            .register-button {
                button {
                    padding: 0px 10px;
                    height: 25px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: transparent;
                    color: green;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    text-align: center; 
                }
                button:hover { 
                    color: white;
                    border-color: white;
                }
            }
            
            
            .reg-table-container {
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: calc(100% - 20px);
                height:30px;
                font-size: 14px;
                    
            
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
            
                th {
                    background-color: transparent;   
                }
            
                tr:nth-child(even) {
                    background-color: transparent;
                }
                td:last-child {
                    color: green;
                }
            
                tr:hover {
                    background-color: transparent;
                }
            }
            
            &::-webkit-scrollbar {
                width: 10px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 6px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 6px;
                border: 3px solid #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
        } 
    
        
    .reg-back-button-container{
        transform: translateX(50%);
        display: flex;
        .reg-back-button{
            max-width: 1366px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            button {
                padding: 0px 10px;
                height: 35px;
                margin: 5px 0 15px 0;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: bold;
                text-align: center;
            }
            button:hover { 
                color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }
    }
    
    }

    

}










    
