.reg-main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide into two columns */
    gap: 20px; /* Add some gap between the sections */
    width: 80%; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the grid */
    box-sizing: border-box;

    h1 {
        grid-column: span 2; /* Span across both columns */
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
}
.current-address {
    grid-column: span 2; /* Span across both columns */
    margin-bottom: 10px;
    label {
        font-weight: bold;
    }
}

.reg-section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    color: rebeccapurple;
}



.reg-section {
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 375px; /* Make sure all sections have the same height */
    overflow-y: auto;
       
    h2 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .input-container {
        input {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            box-sizing: border-box;
        }
    }
    
    .register-button {
        button {
            padding: 0px 10px;
            height: 25px;
            border: 1px solid green;
            border-radius: 10px;
            background-color: transparent;
            color: green;
            cursor: pointer;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center; 
        }
        button:hover { 
            color: white;
            border-color: white;
        }
    }
    
    
    table {
        border-collapse: collapse;
        border: 1px solid white;
        border-radius: 20px;
        width: 100%;
        height:30px;
        font-size: 14px;
            
    
        th, td {
            color: white;
            padding: 10px;
            text-align: center;
                
                
        }
    
        th {
            background-color: transparent;   
        }
    
        tr:nth-child(even) {
            background-color: transparent;
        }
    
        tr:hover {
            background-color: transparent;
        }
    }
    
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
        border: 3px solid #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
} 


.reg-back-button-container{
    transform: translateX(50%);
    display: flex;
    .reg-back-button{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        button {
            padding: 0px 10px;
            height: 35px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
        }
        button:hover { 
            color: rebeccapurple;
            border-color: rebeccapurple;
        }
    }
}
    
