.track-main-container {
    display: flex;
    h1 {
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'system-ui, sans-serif';
    line-height: 1.8;
    color: white;
}


.main-section {
    flex: 1;
    padding: 20px; 
    align-items: center;
    display:flex;
    flex-direction: column;

    .track-section-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: rebeccapurple;
    }

    .track-content {
        .track-section {
            border: 2px solid rebeccapurple;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            max-height: auto; /* Make sure all sections have the same height */
            overflow-y: auto;
            .track-table-container {
                border-collapse: collapse;
                border: 1px solid white;
                border-radius: 20px;
                width: 100%;
                height:30px;
                font-size: 14px;
            
                th, td {
                    color: white;
                    padding: 10px;
                    text-align: center;
                }
        
                th {
                    background-color: transparent;
                   
                   
                }
        
                tr:nth-child(even) {
                    background-color: transparent;
                    
                }
                td:nth-child(5) {
                    color: green;
                    
                }
                .red-text {
                    color: red; 
                }
                .green-text {
                    color: green; 
                }
        
                tr:hover {
                    background-color: transparent;
                }
            }
        }

        .input-container {
            display: flex; 
            align-items: center;
            input {
                width: 100%;
                box-sizing: border-box;
                margin-top: 10px;
               
            }
            .track-button {
                display: flex;
                align-items: center;
                button {
                    padding: 0px 10px;
                    height: 25px;
                    border: 1px solid green;
                    border-radius: 10px;
                    background-color: transparent;
                    color: green;
                    margin-top: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                     
                      
                }
                button:hover { 
                    color: white;
                    border-color: white;
                }
            }
        }

        
    }
    .track-back-button-container {
        display: flex;
        .track-back-button{
            max-width: 1366px;
            margin: auto;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            button {
                padding: 0px 10px;
                height: 35px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: bold;
                margin-top: 5px;
                text-align: center;
            }
            button:hover { 
                color: rebeccapurple;
                border-color: rebeccapurple;
            }
        }
    }
}


//Track Till Ordered
.chronology-ordered-main-container{
    display: flex;
}

    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;

        .chronology-ordered-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
            color: rebeccapurple;
        }

        .chronology-ordered-content {
            display: flex;
            flex-direction: column;

            .chronology-ordered-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
        
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                   
                
        
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
        
                    th {
                        background-color: transparent;
                   
                   
                    }
        
                    tr:nth-child(even) {
                        background-color: transparent;
                    
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
        
                    tr:hover {
                        background-color: transparent;
                    }
                }
            }  
            
        }


        .chronology-ordered-back-button-container {
            display: flex;
            .chronology-ordered-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
        .ordered-info {
            margin-bottom: 10px;
            justify-content: center;
            b {
                color: green;
            }
        }

        
    }



//Track Till Farmer
.chronology-farmer-main-container{
    display: flex;
}
    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;

        .chronology-farmer-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }

        .chronology-farmer-content {
            display: flex;
            flex-direction: column;

            .chronology-farmer-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                max-height: auto; /* Make sure all sections have the same height */
                overflow-y: auto;
        
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                
        
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
        
                    th {
                        background-color: transparent;
                   
                   
                    }
        
                    tr:nth-child(even) {
                        background-color: transparent;
                    
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
        
                    tr:hover {
                        background-color: transparent;
                    }
                }
            }    
            // Flow Information
            .supplychain-farmer-section{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                margin: 60px 0 100px 0; 
                
                .supplychain-farmer-item {  
                    text-align: center;
                    max-width: 800px;
                    
                    img {
                        max-width: 1000px;
                        max-height: 100px;
                    
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }

                .supplychain-farmer-track-section{
                    p {
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 14px;
                        
                        
                
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                
                        th {
                            background-color: transparent;
                        }
                
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                
                        tr:hover {
                            background-color: transparent;
                        }
                
                        
                    }
                }
            }

        }
        .chronology-farmer-back-button-container {
            display: flex;
            .chronology-farmer-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }



//Track Till Slaughterhouse
.chronology-slaughterhouse-main-container{
    display: flex;
}
    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;

        .chronology-slaughterhouse-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }

        .chronology-slaughterhouse-content {
            display: flex;
            flex-direction: column;

            .chronology-slaughterhouse-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                max-height: auto; /* Make sure all sections have the same height */
                overflow-y: auto;
        
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                
        
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
        
                    th {
                        background-color: transparent;
                   
                   
                    }
        
                    tr:nth-child(even) {
                        background-color: transparent;
                    
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
        
                    tr:hover {
                        background-color: transparent;
                    }
                }
            }    
            // Flow Information
            .supplychain-slaughterhouse-section{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                margin: 60px 0 100px 0; 
                
                .supplychain-slaughterhouse-item {  
                    text-align: center;
                    max-width: 800px;
                    
                    img {
                        max-width: 1000px;
                        max-height: 100px;
                    
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }

                .supplychain-slaughterhouse-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 14px;
                        
                        
                
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                
                        th {
                            background-color: transparent;
                        }
                
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                
                        tr:hover {
                            background-color: transparent;
                        }
                
                        
                    }
                }
            }

        }
        .chronology-slaughterhouse-back-button-container {
            display: flex;
            .chronology-slaughterhouse-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }

//Track till Verifier
   
.chronology-verifier-main-container{
    display: flex;
}

    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;

        .chronology-verifier-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }

        .chronology-verifier-content {
            display: flex;
            flex-direction: column;

            .chronology-verifier-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                max-height: auto; /* Make sure all sections have the same height */
                overflow-y: auto;
        
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                
        
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
        
                    th {
                        background-color: transparent;
                
                
                    }
        
                    tr:nth-child(even) {
                        background-color: transparent;
                    
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
        
                    tr:hover {
                        background-color: transparent;
                    }
                }
            }    
            // Flow Information
            .supplychain-verifier-section{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                justify-content: center;
                align-items: center;
                margin: 80px 0 100px 0; 
                
                .supplychain-verifier-item {  
                    text-align: center;
                    max-width: 800px;
                    
                    img {
                        max-width: 1000px;
                        max-height: 70px;
                    
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }

                .supplychain-verifier-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 14px;
                        
                        
                
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                
                        th {
                            background-color: transparent;
                        }
                
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                
                        tr:hover {
                            background-color: transparent;
                        }
                
                        
                    }
                }
            }

        }
        .chronology-verifier-back-button-container {
            display: flex;
            .chronology-verifier-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }

   

    





//Track Till Manufacturer
.chronology-manufacturer-main-container{
    display: flex;
}

    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;
        .chronology-manufacturer-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }
        .chronology-manufacturer-content {
            display: flex;
            flex-direction: column;

            .chronology-manufacturer-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
            
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                    
            
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
            
                    th {
                        background-color: transparent;
                    }
            
                    tr:nth-child(even) {
                        background-color: transparent;
                        
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
            
                    tr:hover {
                        background-color: transparent;
                     }
                }
            }    

               // Flow Information
            .supplychain-manufacturer-section{
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                justify-content: center;
                align-items: center;
                margin: 60px 0 100px 0; 
                    
                .supplychain-manufacturer-item {  
                    text-align: center;
                    max-width: 800px;
                        
                    img {
                        max-width: 1000px;
                        max-height: 60px;
                        
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            
                .supplychain-manufacturer-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 14px;
                            
                            
                    
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                    
                        th {
                            background-color: transparent;
                        }
                    
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                    
                        tr:hover {
                            background-color: transparent;
                        }      
                    }
                }
            }
        }

        .chronology-manufacturer-back-button-container {
            display: flex;
            .chronology-manufacturer-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }
    
    
    
//Track Till Distributor
.chronology-distributor-main-container{
    display: flex;
}
    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;
        .chronology-distributor-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }

        .chronology-distributor-content {
            display: flex;
            flex-direction: column;
            .chronology-distributor-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
            
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                    
            
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
            
                    th {
                        background-color: transparent;
                    }
            
                    tr:nth-child(even) {
                        background-color: transparent;
                        
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
            
                    tr:hover {
                        background-color: transparent;
                     }
                }
            }    

                    // Flow Information
            .supplychain-distributor-section{
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                justify-content: center;
                align-items: center;
                margin: 60px 0 100px 0; 
                    
                .supplychain-distributor-item {  
                    text-align: center;
                    max-width: 800px;
                        
                    img {
                        max-width: 1000px;
                        max-height: 60px;
                        
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            
                .supplychain-distributor-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 14px;
                            
                            
                    
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                    
                        th {
                            background-color: transparent;
                        }
                    
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                    
                        tr:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .chronology-distributor-back-button-container {
            display: flex;
            .chronology-distributor-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }
    
    
    
    
    
    
     
//Track Till Retailer
.chronology-retailer-main-container{
    display: flex;
}    
    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;
        .chronology-retailer-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }
        .chronology-retailer-content {
            display: flex;
            flex-direction: column;
            max-width: 80vw;
            .chronology-retailer-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: auto;
            
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                    
            
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
            
                    th {
                        background-color: transparent;
                    }
            
                    tr:nth-child(even) {
                        background-color: transparent;
                        
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
            
                    tr:hover {
                        background-color: transparent;
                     }
                }
            }    

                    // Flow Information
            .supplychain-retailer-section{
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                justify-content: center;
                align-items: center;
                box-sizing: border-box;

                margin: 60px 0 100px 0; 
                    
                .supplychain-retailer-item {  
                    text-align: center;
                    max-width: 800px;
                        
                    img {
                        max-width: 1000px;
                        max-height: 50px;
                    }
                    p {
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            
                .supplychain-retailer-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        overflow-x: auto;

                        font-size: 14px;
                            
                            
                    
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                    
                        th {
                            background-color: transparent;
                        }
                    
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                    
                        tr:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .chronology-retailer-back-button-container {
            display: flex;
            .chronology-retailer-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
    }
    
    


// Track Till Sold
.chronology-sold-main-container{
    display: flex;
}
    .main-section {
        flex: 1;
        padding: 20px; /* Add padding as needed */
        align-items: center;
        display:flex;
        flex-direction: column;
        .chronology-sold-section-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
            color: rebeccapurple;
        }

        .chronology-sold-content {
            display: flex;
            flex-direction: column;
            max-width: 90vw;

            .chronology-sold-section{
                border: 2px solid rebeccapurple;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                max-height: auto; /* Make sure all sections have the same height */
                overflow-y: auto;
            
                h2 {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            
                table {  // Item table
                    border-collapse: collapse;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 100%;
                    height:30px;
                    font-size: 14px;
                    
            
                    th, td {
                        color: white;
                        padding: 10px;
                        text-align: center;
                    }
            
                    th {
                        background-color: transparent;
                    }
            
                    tr:nth-child(even) {
                        background-color: transparent;
                        
                    }
                    td:nth-child(5) {
                        color: green;
                        
                    }
                    .red-text {
                        color: red; 
                    }
                    .green-text {
                        color: green; 
                    }
            
                    tr:hover {
                        background-color: transparent;
                     }
                }
            }    

            // Flow Information
            .supplychain-sold-section{
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                justify-content: center;
                gap: 15px;
                align-items: center;
                margin: 60px 0 100px 0;

            
                .supplychain-sold-item {  
                    text-align: center;
                    max-width: 800px;
                     
                    img {
                        max-width: 1000px;
                        max-height: 50px;
                        
                    }
                    p {

                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            
                .supplychain-sold-track-section{
                    p{
                        margin: 20px 0 20px 0;
                        font-size: 20px;
                    }
                    table {
                        border-collapse: collapse;
                        border: 1px solid white;
                        border-radius: 20px;
                        width: 100%;
                        height:30px;
                        font-size: 15px;
                            
                            
                    
                        th, td {
                            color: white;
                            padding: 10px;
                            text-align: center;
                        }
                    
                        th {
                            background-color: transparent;
                        }
                    
                        tr:nth-child(even) {
                            background-color: transparent;
                        }
                        td:nth-child(5) {
                            color: green;
                            
                        }
                        td:nth-child(6) {
                            color: green;
                            
                        }
                        td:last-child {
                            color: green;
                        }
                    
                        tr:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
           
        }

        .chronology-sold-back-button-container {
            display: flex;
            .chronology-sold-back-button{
                gap: 20px;
                max-width: 1366px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                button {
                    padding: 0px 10px;
                    height: 35px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                    margin-top: 5px;
                    text-align: center;
                }
                button:hover { 
                    color: rebeccapurple;
                    border-color: rebeccapurple;
                }
            }
        }
        .sold-info {
            margin-bottom: 5px;
        }

        b {
            color: green;
        }
    }
    
